@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  --color-bg: #272643;
  --color-input: #ffffff1a;
  --color-text: #FFFFFF;
  --color-primary: #2C698D;
  --color-accent: #BAE8E8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

body{
    background: #272643;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 2fr 1fr   ;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;

}




.logo{
    font-family: Roboto;
    font-weight: 900;
    font-size: 3rem;
    padding: 10px 20px;
    color: rgb(113, 192, 192);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 180px;
    transform: translateY(100%);
}
#city_input{
    outline:none;
    height: 2.5rem;
    background-color: rgba(252, 253, 253, 0.144);
    width: 52%;
    border: none;
    border-radius: 11px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;

}

#submit_city{
    background-color: rgb(66, 114, 114);
    color: white;
    font-family: Roboto;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    outline:none;
    height: 2.5rem;
    border: none;
    border-radius: 11px;
    width: 10%;
}

.text{
    color: white;
    font-family: Roboto;
    font-weight: 900;
    font-size:1.2rem;
}
